@page "/"
@inject ILocalStorageService localStorage

<PageTitle>Material ToDo's Application</PageTitle>
<MudAlert Elevation="6" Severity="Severity.Info">App is still on development. Please refer any issue to my Github Repository.</MudAlert>
<h1>Wellcome back </h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    public List<TaskModel> Tasks { get; set; }
    protected override async Task OnInitializedAsync()
    {
        //Obtain the stored tasks in the local storage of the application
        var storedTasks = await localStorage.GetItemAsync<List<TaskModel>>("storedTasks");
        if (!storedTasks.Count.Equals(0) && storedTasks is not null) Tasks = storedTasks;
        else
        {
            //If there is no task stored, initialize and store in local storage
            //Tasks = new List<TaskModel>();
                    Tasks = new List<Models.TaskModel>()
        {
            new Models.TaskModel{Id=1, Completed= false,
                                Title = "Title of Task 1", Description="This is your task #1",
                                 CreationDate=DateTime.Now, DueDate=DateTime.Now,
                                 Tags=new[]{ "First","Urgent"} },
            new Models.TaskModel{Id=1, Completed= false,
                                Title = "Title of Task 2", Description="This is your task #2",
                                 CreationDate=DateTime.Now, DueDate=DateTime.Now,
                                 Tags=new[]{ "Second","Critical"} },
            new Models.TaskModel{Id=1, Completed= false,
                                Title = "Title of Task 3", Description="This is your task #3",
                                 CreationDate=DateTime.Now, DueDate=DateTime.Now,
                                 Tags=new[]{ "Third","Optional"} },
        };
            await localStorage.SetItemAsync<List<TaskModel>>("storedTasks", Tasks);
        }
    }
}