@page "/"
@inject ILocalStorageService localStorage

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    public List<TaskModel> Tasks { get; set; }
    protected override async Task OnInitializedAsync()
    {
        //Obtain the stored tasks in the local storage of the application
        var storedTasks = await localStorage.GetItemAsync<List<TaskModel>>("storedTasks");
        if (storedTasks is not null) Tasks = storedTasks;
        else
        {
            //If there is no task stored, initialize and store in local storage
            Tasks = new List<TaskModel>();
            await localStorage.SetItemAsync<List<TaskModel>>("storedTasks", Tasks);
        }
    }
}